<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="title" content="">
    <meta name="description" content="Pagina web con Django">
    <link rel="stylesheet" href="" type="text/css">
  </head>
  <body>
    <header>
      <h1></h1>
    </header>
    <nav>
      <!---barra de navegacion --> <p>Barra de navegacion</p>
    </nav>
    <section>
      <article>
        <h2>cuerpo de la pagina </h2>
        <p></p>
        <div class="#">
          <p></p>
        </div>
      </article>
    </section>
    <aside>
      <h3></h3>
      <p></p>
    </aside>
    <footer>
      <!-- PIE DE Pagina --><p>Pie de pagina</p>
    </footer>

  </body>

</html>
